body{
    background-color: #f7f7f7;
}

.navbar-default {
    background-color: red;
}

.c1 {
    color: white;
    margin-left: 30%;
    line-height: 38px;
}

.todo {
    width: 100%;
    height: 300px;
    margin-top: 80px;
}

.c2{
    margin-left: 26%;
}

.form-control{
    width: 73%;
    margin-left: 26%;
}

.list-group>li{
    width: 73%;
    margin-left: 26%;
}